.git
.gitignore
.editorconfig
.gitattributes
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
Dockerfile*
README.md
npm-debug.log
composer.phar
